{% extends "main/overlay.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<section id="overview" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Overview</h1>
</section>

<section id="projects" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Projekte</h1>
</section>

<section id="me" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Me</h1>
</section>

<section id="links" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Weblinks</h1>
    <a href="mailto:contact@felix-bernard.de">contact@felix-bernard.de</a>
    <a href="https://github.com/FeliXL2111">Mein Github</a>
</section>

{% endblock %}