{% extends "main/overlay.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<section id="projects" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Projekte</h1>
    <p>Diese Website</p>
    <p>Youtube Downloader</p>
    <p>Nicht mehr öffentlicher Online Shop</p>
    <p>Android App am entwickeln</p>
</section>

<section id="links" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Weblinks</h1>
    <a href="mailto:contact@felix-bernard.de">contact@felix-bernard.de</a>
    <a href="https://github.com/FelixBernard">Mein Github</a>
</section>

{% endblock %}